.serv3 {
    width: 1248px;
    height: 56px;
    margin: 8px auto 0px auto;
    font-size: 24px;
    border: 1px solid rgba(42, 45, 67, 0.25);
    border-radius:12px;
    padding-left: 11px;
    padding-top: 10px;
    text-align: left;
    }
.p1 {
margin-right: 31px;
margin-left: 32px;
vertical-align: 16px;
}

