.logo {
  background-color: #82824080;
  margin-right: 44px;
  text-align: left;
}
.vector {
  margin-right: 12px;
  margin-bottom: 20px;
}
.serv {
  vertical-align: 24px;
  margin-right: 43px;

}
.vecto {
  margin-right: 12px;
  margin-bottom: 20px;
}
.serv2 {
  vertical-align: 24px;
  margin-right: 669px;
}


